@model DankSmite.MyIndexModel
@{
    string s = DateTime.Now.ToString("yyyy-MM-dd") + " Nazzyc";
    List<GodAndItemManager.God> gods = Model.Gods;
}
<h1>Hello World!</h1>


@for (int i = 0; i < gods.Count; i++)
{
<div>
    <p>@gods[i].Name.PadRight(30, '_')<img src="@gods[i].Picture" style="width: 50px;" /></p>
</div>
}
<iframe width="560" height="315" src="https://www.youtube.com/embed/w_MSFkZHNi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


